.DS_Store
# Julia
/Manifest.toml
/Project.toml
/.vscode/
/.idea/
/.julia/

# Python
__pycache__/
*.py[cod]
*.so

# macOS
Icon\r

# Data files
# *.csv
experiments_11e5_1hour_5mins_falsecombinatoricratelaws.csv

# other stuff
*.docx
*.xlsx
*.pptx
*.svg
*.mp4
*.tex
*.log

partial_movie_file_list.txt